/* Initial design */
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-attachment: fixed;
	font-family: Montserrat, sans-serif;
}

.chat {
	background-color: #662D91;
}
.chatview {
	background-color: #FFF;
	border: 1px solid #333;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
